In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf
import sklearn
import cv2
from PIL import Image
import math
%matplotlib notebook

In [157]:
d = pd.DataFrame({"a":[True, True], "b":[True, False]})
d

      a      b
0  True   True
1  True  False

In [159]:
d.sum(1).eq(1)

0    False
1     True
dtype: bool

In [160]:
d[[False, True]]

      a      b
1  True  False

In [5]:
s = d["a"]
s

0    2
1    3
Name: a, dtype: int64

In [14]:
pd.DataFrame({"xx":{"name":"44"}, "bb":{"name":"dick", "age":24}})

       xx    bb
age   NaN    24
name   44  dick

In [13]:
[3, 3, 4] + [3]+[3, 2]

[3, 3, 4, 3, 3, 2]

In [15]:
import numpy as np
np.arange(4).pop

AttributeError: 'numpy.ndarray' object has no attribute 'pop'

In [17]:
print(dir(np.arange(3)))

['T', '__abs__', '__add__', '__and__', '__array__', '__array_finalize__', '__array_interface__', '__array_prepare__', '__array_priority__', '__array_struct__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__complex__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__ilshift__', '__imatmul__', '__imod__', '__imul__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__irshift__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lshift__', '__lt__', '__matmul__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__xor__', 'all', 'any', 'argmax', 'argmin', 'argpartition', 'argsort', 'astype', 'base', 'byteswap', 'choose', 'clip', 'compress', 'conj', 'conjugate', 'copy', 'ctypes', 'cumprod', 'cumsum', 'data', 'diagonal', 'dot', 'dtype', 'dump', 'dumps', 'fill', 'flags', 'flat', 'flatten', 'getfield', 'imag', 'item', 'itemset', 'itemsize', 'max', 'mean', 'min', 'nbytes', 'ndim', 'newbyteorder', 'nonzero', 'partition', 'prod', 'ptp', 'put', 'ravel', 'real', 'repeat', 'reshape', 'resize', 'round', 'searchsorted', 'setfield', 'setflags', 'shape', 'size', 'sort', 'squeeze', 'std', 'strides', 'sum', 'swapaxes', 'take', 'tobytes', 'tofile', 'tolist', 'tostring', 'trace', 'transpose', 'var', 'view']

In [26]:
a = np.arange(3)
a

array([0, 1, 2])

In [34]:
np.random.choice(a, replace=False)

2

In [28]:
a

array([0, 1, 2])

In [36]:
import random

In [48]:
dir(random)
random.choice(range(5, 9))

5

In [50]:
type(a.tolist())

list

In [51]:
l = [2, 3, 5, 6, 7, 8]
l

[2, 3, 5, 6, 7, 8]

In [52]:
del l[3]

In [53]:
l

[2, 3, 5, 7, 8]

In [54]:
l

[2, 3, 5, 7, 8]

In [55]:
"xx{}".format(l)

'xx[2, 3, 5, 7, 8]'

In [57]:
eval("l")

[2, 3, 5, 7, 8]

In [58]:
l.__name__

AttributeError: 'list' object has no attribute '__name__'

In [59]:
def f():
    pass

In [60]:
f

In [61]:
f.__name__

'f'

In [9]:
s = pd.Series({"name":"kerwin", "age":24})
s

name    kerwin
age         24
dtype: object