In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf
import sklearn
import cv2
from PIL import Image
import math
%matplotlib notebook

In [157]:
d = pd.DataFrame({"a":[True, True], "b":[True, False]})
d

      a      b
0  True   True
1  True  False

In [159]:
d.sum(1).eq(1)

0    False
1     True
dtype: bool

In [160]:
d[[False, True]]

      a      b
1  True  False

In [5]:
s = d["a"]
s

0    2
1    3
Name: a, dtype: int64

In [14]:
pd.DataFrame({"xx":{"name":"44"}, "bb":{"name":"dick", "age":24}})

       xx    bb
age   NaN    24
name   44  dick

In [9]:
s = pd.Series({"name":"kerwin", "age":24})
s

name    kerwin
age         24
dtype: object

In [11]:
ss = pd.Series({"na":"kerwin", "ge":24})
ss

na    kerwin
ge        24
dtype: object

In [23]:
pd.DataFrame({"name":[1, 2, 3], "s":[5, 5, 5]})

   name  s
0     1  5
1     2  5
2     3  5

In [25]:
pd.Series([3, 4, 5])

0    3
1    4
2    5
dtype: int64

In [27]:
d.text

AttributeError: 'DataFrame' object has no attribute 'text'

In [28]:
pd.DataFrame.text

AttributeError: type object 'DataFrame' has no attribute 'text'

In [ ]:
   id     num     text
   1      1.2     price is 1.2
   1      2.3     price is 1.2 or 2.3
   2      3     The total value is $3 and $130
   3      5     The apple value is 5dollar and $150

In [86]:
from pandas import DataFrame as df

In [87]:
d = df({"num":["1.2", "2.3", "3", "5"], "text":["price is 1.2", "price is 1.2 or 2.3", "price is $3 and $130", "price is 5dollor and $150"]})
d

   num                       text
0  1.2               price is 1.2
1  2.3        price is 1.2 or 2.3
2    3       price is $3 and $130
3    5  price is 5dollor and $150

In [130]:
import re
re.sub(r"is\s\$3","888", "e is $3 and $130")

'e 888 and $130'

In [104]:
d.num.astype(str)

0    1.2
1    2.3
2      3
3      5
Name: num, dtype: object

In [128]:
# d.text.replace(regex=r"\s(\$"+d.num.astype(str)+r")\b",value="UNK")

import re
def foo(df):
    num = df.num
    text = df.text
    re.
    return x 
d.apply(foo)

# d.text.replace(regex=r"\s(\$"+d.num.astype(str)+r")\b",value="UNK")

   num                       text
0  1.2               price is 1.2
1  2.3        price is 1.2 or 2.3
2    3       price is $3 and $130
3    5  price is 5dollor and $150

In [43]:
(d.text+' ').replace(regex=r'(?i) '+ d.num.astype(str)+' ',value=" UNK ")

0                 price is UNK
1          price is 1.2 or UNK
2         price is $3 and $130
3    price is 5dollor and $150
Name: text, dtype: object

In [79]:
d.num.astype(int).astype(str)

0    1
1    2
2    3
3    5
Name: num, dtype: object

In [46]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
...                    'B': [5, 6, 7, 8, 9],
...                    'C': ['a', 3, 'c', 'd', 'e']})

In [140]:
df.replace({"A":0, "B":8}, 33)

TypeError: super(type, obj): obj must be an instance or subtype of type

In [139]:
d.eq("3")

     num   text
0  False  False
1  False  False
2   True  False
3  False  False

In [136]:
d

   num                       text
0  1.2               price is 1.2
1  2.3        price is 1.2 or 2.3
2    3       price is $3 and $130
3    5  price is 5dollor and $150